
.wrapperCards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 7.5rem 0;
}
.wrapperCards .Card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 0;
    border-radius: 1.5rem;
    max-width: 260px;
}
.wrapperCards .Card .imgCard{
    max-width: 4rem;
    margin: 2rem 0;
}
.wrapperCards .Card .titleCard{
    color: #5225bd;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 2rem  0;
}
.wrapperCards .Card .textCard{
    font-size: .9rem;
    text-align: center;
    margin-bottom: 2rem;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
 {
    .wrapperMain .titleMain{
        text-align: center;
    }
    .wrapperCards{
        display: flex;
        flex-direction: column;
        margin: 2rem 0 12rem;
    }
    .wrapperCards .Card{
        margin-bottom: 2rem;
    }
    }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
    .wrapperMain .titleMain{
        text-align: center;
    }
    .wrapperCards{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0 5rem;
    }
    .wrapperCards .Card{
        margin-bottom: 2rem;
    }
}
